# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDE files
.idea
*.iml

# Ignore secret
local.properties

/page-1.svg
/page-2.svg
/page-3.svg
/page-4.svg
/page-5.svg
/page-6.svg
/page-7.svg
/page-8.svg
/page-9.svg
/page-10.svg
/page-11.svg
/page-12.svg
